/* место для вашего кода */
.header {
  min-height: 293px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 50px;
  max-width: inherit;
  width: 100%;
}

.header__links-list {
  display: flex;
  list-style: circle;
  gap: 33px;
}

.header__link-list-item {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  width: 148px;
  height: 105px;
  padding-bottom: 4px;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: start;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%;
  padding-right: 2px;
  padding-top: 9px;
}

.header__address {
  justify-self: end;
  padding-top: 0px;
}

.cover {
  position: relative;
  max-width: inherit;
  width: 100%;
  background-image: url("../images/cover.jpg");
  background-size: cover;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  inset: 0;
}

.cover__container {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 50px;
  gap: 135px;
}

.cover__title {
  position: relative;
  z-index: 1;
  color: white;
  font-size: 100px;
  font-style: normal;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 60px;
  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.aligned-text_center {
  text-align: center;
  margin-top: 13px;
}

.no-letter-spacing {
  letter-spacing: 0px;
}

.aligned-text_right {
  text-align: right;
}

.default-letter-spacing {
  letter-spacing: 30px;
}

.cover__description {
  position: relative;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 127.273% */
  text-transform: uppercase;
  align-items: center;
  gap: 83px;
}

.cover__description-text {
  order: 1;
  word-spacing: 17px;
}

.bet-button {
  order: 0;
  background-color: transparent;
  border: 1px solid white;
  color: inherit;
  font-size: inherit;
  text-align: center;
  padding: 12px 32px;
  text-transform: inherit;
  width: 257px;
  height: 48px;
}

.lots {
  max-width: inherit;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 180px 50px;
  gap: 30px;
}

.lots__heading {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-left: 40px;
}

.lots__card-list {
  display: flex;
  gap: 25px;
  justify-content: space-between;
  list-style-type: none;
}

.lots__card-list-item {
  min-height: 450px;
  flex-grow: 1;
  width: 430px;
  position: relative;
}

.card-link {
  min-height: 100%;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  padding: 50px 40px;
  width: 100%;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 26.4px */
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  color: #fff;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
}

.lots__look-more-link {
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 40px;
}

.about {
  width: 1340px;
  margin-left: 50px;
  margin-right: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 25px;
}

.about__logo {
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  justify-self: center;
}

.about__logo-image {
  width: 100%;
  height: 100%;
  padding: 63px 46px;
}

.about__title {
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: start;
  align-self: center;
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  color: #000;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 885px;
  padding-top: 6px;
  line-height: 119%;
}

.footer {
  max-width: inherit;
  width: 100%;
  min-height: 293px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 172px 50px 90px 50px;
}

.footer__menu {
  padding-bottom: 25px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  color: #000;
  text-align: center;
  font-family: "Raleway", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__menu-list-item {
  list-style-type: none;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-content: end;
  gap: 45px;
  padding-bottom: 40px;
}

.footer__social-list-item {
  width: 50px;
  height: 48px;
  list-style-type: none;
}
